@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');

html {
    font-family: Open Sans, sans-serif;
}

main {
    position: relative;
    padding-top: 60px;
    padding-bottom: 70px;
}

div {
    width: 1000px;
    margin: 0px auto;
}

header {
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 95%;
}

header p {
    display: flexbox;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 95%;
}

h1 {
    position: relative;
    text-align: center;
}

.subtitle {
    position: relative;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    text-align: center;
}

.flex-map {
    display: flex;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}
