@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,300&display=swap');

html {
    font-family: Open Sans, sans-serif;
}

.main {
    position: relative;
}

.header {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 95%;
}

.header h3 {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    width: 95%;
}

h1 {
    text-align: center;
}

.subtitle {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    text-align: center;
}

.flex-map {
    display: flex;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.flex-first-map {
    flex: 2.5;
    margin: 10px;
    padding: 20px;
}

.flex-second-map {
    flex: 1;
    margin: 10px;
    padding: 20px;
}